.button {
  all: unset;
  height: 40px;
  border: var(--border-default);
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}