.textArea {
  label, textarea {
    all: unset;
  }
  textarea {
    height: 400px;
    border: 1px solid var(--eerie-black);
    padding: 16px;
    width: calc(100% - 16px);
  }
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  max-width: 100%;
  margin-top: var(--default-margin);
  margin-bottom: var(--default-margin);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--text-large);
  color: var(--eerie-black);
}