.select {
  label, select {
    all: unset;
  }
  max-width: 100%;
  width: 100%;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  font-size: var(--text-large);
  color: var(text-color-default);
  select {
    height: 40px;
    border: var(--border-default);
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    width: calc(100% - 16px);
    option {
      background-color: var(--background-color-default);
    }
  }
}

.arrow-container {
  position: relative;
}

.arrow {
  position: absolute;
  top: 10px;
  transform: translateY(50%);
  right: 10px;
}