@import 'theme/colors.css';
@import 'theme/fonts.css';

:root {
  --background-color-default: var(--ghost-white);
  --background-color-contrast: var(--platinum);
  --text-color-default: var(--eerie-black);
  --shadow-default: 0px 2px 2px 0px var(--platinum);
  --border-default: 1px solid var(--eerie-black);

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

[data-theme="dark"] {
  --background-color-default: var(--eerie-black);
  --text-color-default: var(--ghost-white);
  --shadow-default: 0px 2px 2px 0px var(--platinum);
  --border-default: 1px solid var(--platinum);
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--background-color-default);
}

* {
  color: var(--text-color-default);
}

