@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --eerie-black: #1c1c1cff;
  --platinum: #daddd8ff;
  --alabaster: #ecebe4ff;
  --antiflash-white: #eef0f2ff;
  --ghost-white: #fafaffff;
  --text-small: 14px;
  --text-medium: 18px;
  --text-large: 24px;
  --default-margin: 16px;
}

* {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
} */
